langchain_community
langchain
langchain_groq
langchain-huggingface
langchain-core
# langchain_hugginface
langchain-astradb
astrapy
sentence-transformers
tiktoken
cassio
chromadb

arxiv
wikipedia

bs4


dill # to dump and load pickle file


flask
pandas

